<section>
  <div
    class="grid grid-cols-1 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
  >
    <div class="p-2">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Username</label
      >
      <div class="pt-2">
        <input
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter username"
          required
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchTextChange($event)"
        />
      </div>
    </div>
    <div class="p-2">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Workout type</label
      >

      <div class="pt-2">
        <select
          (change)="onSelect($event)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option
            *ngFor="let option of options"
            [value]="option.value"
            class="p-2"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="p-2">
      <div class="h-10"></div>
      <a
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [routerLink]="'/adduser'"
      >
        Add User
      </a>
    </div>
  </div>
  <div class="relative overflow-x-auto rounded-lg mt-6">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Workouts</th>
          <th scope="col" class="px-6 py-3">No. of Workouts</th>
          <th scope="col" class="px-6 py-3">Total Workout Minutes</th>
          <th scope="col" class="px-6 py-3">View</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of paginatedItems"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ user.name }}
          </th>
          <td class="px-6 py-4">
            {{ getConcatenatedWorkOuts(user.workouts) }}
          </td>
          <td class="px-6 py-4">{{ user.workouts.length }}</td>
          <td class="px-6 py-4">{{ getTotalWorkOut(user.workouts) }}</td>
          <td class="px-6 py-4">
            <a
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              [routerLink]="getRouterLink(user.id)"
            >
              view
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination mt-6 inline-flex -space-x-px text-sm">
      <button
        [disabled]="currentPage === 1"
        (click)="setPage(currentPage - 1)"
        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Previous
      </button>

      <button
        *ngFor="let page of pages"
        [ngClass]="getCss(page)"
        (click)="setPage(page)"
        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white active:text-blue-600 active:bg-blue-50 active:hover:bg-blue-100 active:hover:text-blue-700 active:dark:border-gray-700 active:dark:bg-gray-700 active:dark:text-white"
      >
        {{ page }}
      </button>

      <button
        [disabled]="currentPage === totalPages"
        (click)="setPage(currentPage + 1)"
        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Next
      </button>
    </div>

    <div class="mt-4">
      <label
        for="pageSize"
        class="mb-2 mr-4 text-sm font-medium text-gray-900 dark:text-white"
        >Items per page:</label
      >
      <select
        id="pageSize"
        (change)="onPageSizeChange($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</section>
